<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @coordinator.name %>,</h1>
    <p>
      I'm reaching out because I'm interested your project! I'd love if you could send me more info on it. Please let me know more about your upcoming events and the skills you're looking for.</p>
    <p><%= link_to('Check out my Volunteerly profile', user_url(@sender.id), method: :patch) %>.</p>
    <p>Also feel free to contact me directly at <%= @sender.email %></p>
    <p>Note: You may have to sign in to your Volunteerly account to view my profile first.</p>

    <p>I can't wait to hear from you.</p>
    <p>-- <%= @sender.name %></p>
  </body>
</html>