<h1>There Are <%= @users.count %> Volunteers Improving Our Community!</h1>

<ul>
<% @users.each do |user| %>
<li><%= link_to user.name, user_path(user.id) %> - volunteering for <%= user.events.count %> events</li> 
<% end %>
</ul>