<h1>There Are <%= @users.count %> Volunteers Improving Our Community!</h1>

<ul>
<% @users.each do |user| %>
<li><%= user.name %> - volunteering for <%= user.events.count %> events</li> 
<% end %>
</ul>