<h1>Welcome</h1>
<section>
  <div class="background-main" style="background-image: url(file:///Users/Adam/Downloads/products-WB09054T6/Raleway%20-%20Mega%20Responsive%20HTML5%20Template/images/backgrounds/bg5.png); background-position: 80% -200px;">
  <h3 class="text-white">Volunteerly connects volunteers with projects that need their help.</h3>
  </div>
</section>
<footer class="footer">
  <div class="heading-footer row">
    <h2>About Volunteerly</h2>
    <p class="mt40 col-xs-11 col-xs-offset-1">Volunteerly was built by Josh Baker, Adam Czerepinski, and Simone Hill. Learn more about the developers <a href="#">here</a>.
    </p>
  </div>

</footer>