<div class="background-photo">
</div><!--/background-photo-->
  <div class="container">
  <div class="row">
    <div class="col-xs-12 text-center mt100">
      <h2 class="text-white">Volunteerly Product Demo</h2>
      <h3 class="text-white mt50">Volunteerly is a platform that simplifies volunteer management by connecting volunteers with projects based on skills and interests.</h3>
      <h3 class="text-white mt50">The software is open sourced and freely available on github. If you would like guidance on adopting Volunteerly for your organization, we are happy to help.</h3>
    </div><!--/col-->
  </div><!--/row-->
  </div><!--/container-->

