/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require styles_manifest
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'ionicons';

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#map-canvas {
  width: 100%;
  height: 300px;
}

.table-hover > tbody > tr:hover {
  background-color: #ff7554;
  color: #fff;
  }

.table-hover > tbody > tr > td > a {
  color: #888;
  }

.table-hover > tbody > tr:hover > td > a {
  color: #fff;
  }

a {color:#FF7454;}      /* unvisited link */
a:visited {color:#FF7454;}  /* visited link */
a:hover {color:#FF7454}  /* mouse over link */
a:active {color:#FF7454}  /* selected link */
